;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dependencies
 [[lilactown/helix "0.0.13"]
  [org.clojure/core.match "1.0.0"]]

 :builds
  {:main {:target :node-script
          :output-to "resources/main.js"
          :main alfred.app.main/main}
   :renderer {:target :browser
              :output-dir "resources/public/js"
              :asset-path "js"
              :modules {:renderer {:init-fn alfred.app.renderer/main}}}}}
